div.heading

div.row
  div.col-md-6
    div.card
  div.col-md-6
    div.card

div.row
  div.col-md-4
    div.card
  div.col-md-4
    div.card
  div.col-md-4
    div.card

div.row
  div.col-md-5
  div.col-md-7

div.footer
