// source: https://codepen.io/AnyaCraig/pen/MopGbb
   I am deeply inspired by this pen by Anya Craig.

link(href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet')

body
  h1.display Kakapo Green
  
  div.row
    div.col-md-6
      div.card
        div.card-block
          div.card-title
            h3 My Skills
          div.card-text I know how to climb
          img.img-fluid.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
          //
    div.col-md-6
      div.card
        div.card-block
          div.card-title 
            h3 CV
          div.card-text
            table.table
              thead
                tr
                  th Year
                  th Event
              tbody
                tr
                  td(scope='row') 2017  
                  td My Pokemons
                    ul
                      li charmander
                      li pikachu
                      li squirturtle
                tr
                  td(scope='row') 2016
                  td My items
                    ul
                      li first item
                      li second item
                      li third item
            //
  div.row
    div.col-md-4
      div.card
        div.card-block
          div.card-title Project 1
          div.card-text Yo it's a good one
        img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
    div.col-md-4
      div.card
        div.card-block
          div.card-title Project 2
          div.card-text Yo it's a super good one
        img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
    div.col-md-4
      div.card
        div.card-block
          div.card-title Project 3
          div.card-text Yo it's a super super good one
        img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
      //
  div.row
    div.col-md-5
    div.col-md-7
