// source: https://codepen.io/AnyaCraig/pen/MopGbb
//   I am deeply inspired by this pen by Anya Craig.
   
// reference: https://codepen.io/yeptony/full/yVvGbB
//    that is my ideal!!!
   
link(href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet')
   
   div#navbar-header
     div.navbar-collapse
     div.collapse
     div.container-fluid

   div.navbar.navbar-static-top
     div.container-fluid
   
   section.jumbotron
     div.container
       h1.jumbotron-heading Kakapo Green
       p.lead I like chicken. I also like kakapo.
   
   section#intro
     div.container
       div.row
         div.col-md-6
           div.card
             div.card-block
               div.card-title
                 h3 My Skills
               div.card-text I know how to climb
               img.img-fluid.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')

         div.col-md-6
           div.card
             div.card-block
               div.card-title
                 h3 CV
               div.card-text
                 table.table
                   thead
                     tr
                       th Year
                       th Event
                   tbody
                     tr
                       td(scope='row') 2017
                       td My Pokemons
                         ul
                           li charmander
                           li pikachu
                           li squirturtle
                     tr
                       td(scope='row') 2016
                       td My items
                         ul
                           li first item
                           li second item
                           li third item

     section#album.text-muted
       div.container
         div.card-deck-wrapper
           div.card-deck
             div.card
               div.card-block
                 div.card-title Project 1
                 div.card-text Yo it's a good one
                 img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
             div.card
               div.card-block
                 div.card-title Project 1
                 div.card-text Yo it's a good one
                 img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
             div.card
               div.card-block
                 div.card-title Project 1
                 div.card-text 
                   p Yo it's a good one. Goooooooood
                   p yoyoyoyoojoooooooooooooooo
                 img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
   section#contact
     div.container
       div.card-deck-wrapper
         div.card-deck
           div.card
             div.card-block
               div.card-title h4 Contact Me
               div.card-text
                 p.text-justify facebook sucks
                 p I don't like IG
                 p Write letter to me pal
           div.card
             div.card-block
               div.card-title h4 Comment
                 div.card-text
                   p Drop me a note

   footer.text-muted
     div.container
       p yoyoyo
