// reference: https://codepen.io/yeptony/full/yVvGbB
//    that is my ideal portfolio page!!!

 
div#navbar-header
 div.navbar-collapse
 div.collapse
 div.container-fluid

div.navbar.navbar-static-top
 div.container-fluid

section.jumbotron
 div.container
   h1.jumbotron-heading Kakapo Green
   p.lead I like chicken. I also like kakapo.

section#intro
 div.container
   div.row
     div.card-deck-wrapper
       div.card-deck
           div.card.col-md-6
             div.card-block
               div.card-title
                 h3 My Skills
               div.card-text I know how to climb
               img.img-fluid.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
           div.card.col-md-6
             div.card-block
               div.card-title
                 h3 CV
               div.card-text
                 table.table
                   thead
                     tr
                       th Year
                       th Event
                   tbody
                     tr
                       td(scope='row') 2017
                       td My Pokemons
                         ul
                           li charmander
                           li pikachu
                           li squirturtle
                     tr
                       td(scope='row') 2016
                       td My items
                         ul
                           li first item
                           li second item
                           li third item
     
 section#album.text-muted
   div.container
     div.row
       div.card-deck-wrapper
         div.card-deck
           div.card.col-md-4
             div.card-block
               div.card-title Project 1
               div.card-text Yo it's a good one
               img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
           div.card.col-md-4
             div.card-block
               div.card-title Project 1
               div.card-text Yo it's a good one
               img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
           div.card.col-md-4
             div.card-block
               div.card-title Project 1
               div.card-text 
                 p Yo it's a good one. Goooooooood
                 p yoyoyoyoojoooooooooooooooo
               img.img-fluid.img-thumb-nail.card-img-bottom(src='http://www.doc.govt.nz/pagefiles/169573/sirocco-kakapo-maud-island-1200.jpg' alt='me, a cute kakapo')
              
 - var socialList = [
 -   {
 - site: "facebook", 
 - link: "https://www.facebook.com"
 -   },
 -   {
 - site: "twitter", 
 - link: "https://codepen.io/SitePoint/pen/Bjbgpv"
 -   },
 -   {
 - site: "github", 
 - link: "https://codepen.io/SitePoint/pen/Bjbgpv"
 -  }
 - ]
 
 
mixin social-btns(website)
  a(href=website.link, target='_blank', class='btn ' + website.site)
    i(class='fa fa-' + website.site)

section#padding

section#contact.text-muted
 div.container
   div.row
     h2 Contact Me
   div.row#padding
     div.social-btns
       each website in socialList
         +social-btns(website)

section#padding

footer.text-muted
 div.container
   p yoyoyo
