/* URL: https://codepen.io/htmkel/pen/LLQWgY
 * A pen by Kristine Francisco, an excellent quote template
 */
 
 html
	body
		.quote-wrapper
			.quote-content
				.quote-img
					svg.svg-quote(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", x="0px", y="0px", viewbox="0 0 100 125", enable-background="new 0 0 100 100", xml:space="preserve")
						g
							g
								path(fill-rule="evenodd", clip-rule="evenodd", d="M6.438,50.5v35.875h35.875V50.5h-20.5c0-11.321,9.179-20.5,20.5-20.5V14.625    C22.498,14.625,6.438,30.686,6.438,50.5z M93.562,30V14.625c-19.814,0-35.875,16.061-35.875,35.875v35.875h35.875V50.5h-20.5    C73.062,39.179,82.241,30,93.562,30z")
				p.quote-copy.gotham.white
					| ..the idea from the beginning was really like, ‘What can I do with very little?’ And of course, that takes trust, and generosity, and mutual respect from the different designers that I was working with
				p.quote-name.gotham.yellow RACHEL BERKS
